@import "_nullstyle";
// null style
@import "_fonts";

.wrapper {
    min-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
body {
    font-family: 'Untitled Sans';
    font-weight: normal;
}

//============================ Containers and important classes ============================================================== //
._container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: content-box;
}
.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: content-box;
}
.container-main {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px 20px;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}
._ibg img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
//============================ mixines ============================================================== //
@mixin fo_le($fs, $lh, $fw) {
    font-size: $fs;
    line-height: $lh;
    font-weight: $fw;
}
//============================ Header ============================================================== //
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 112px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header__logo {
    max-width: 120px;
    margin-left: 130px;
    transition: all 0.8s ease 1s;
    img {
        max-width: 100%;
    }
}
@media (max-width:769px) {
    .header__logo {
        margin-left: 0px;
    }
}
@media (max-width:426px) {
    .header__logo {
        max-width: 80px;
    }
}
//============================ Header-burger ============================================================== //
.header__burger-block {
    display: flex;
    align-items: center;
}
.header__burger {
    display: block;
    position: relative;
    width: 24px;
    height: 20px;
    z-index: 3;
    top: 2px;
}
.header__burger span {
    background-color: #fff;
    position: absolute;
    width: 80%;
    height: 3px;
    left: 0;
    top: 13px;
    transition: all 0.5s ease 0s;
}
.header__burger span:nth-child(2) {
    top: 4px;
    width: 50%;
    height: 3px;
}
.header__burger span:nth-child(3) {
    top: -5px;
    width: 100%;
}
.header__burger span:nth-child(4) {
    width: 100%;
    top: -10px;
    height: 30px;
    content: url('../image/main-page/icons/Vector.png');
    background-color: transparent;
    transition: all 0.8s ease 0s;
    opacity: 0;
}
.header__burger span:nth-child(5) {
    width: 100%;
    height: 30px;
    top: -10px;
    content: url('../image/main-page/icons/Vector.png');
    background-color: transparent;
    transition: all 0.8s ease 0s;
    opacity: 0;
}
.header__burger span:nth-child(6) {
    width: 100%;
    height: 30px;
    transition: all 0.8s ease 0s;
    top: -10px;
    content: url('../image/main-page/icons/Vector.png');
    background-color: transparent;
    opacity: 0;
}
.header__burger.active span:nth-child(1) {
    opacity: 0;
    transition: all 0.25s ease 0s;
}
.header__burger.active span:nth-child(2) {
    transition: all 0.25s ease 0s;
    transform: rotate(45deg) translate(0px, 8px);
    opacity: 0;
}
.header__burger.active span:nth-child(3) {
    transition: all 0.25s ease 0s;
    transform: rotate(-45deg) translate(0px, 8px);
    opacity: 0;
}
.header__burger.active span:nth-child(4) {
    transition: all 0.8s ease 0s;
    transform: translate(5px, 3px);
    opacity: 1;
}
.header__burger.active span:nth-child(5) {
    transition: all 0.8s ease 0s;
    transform: translate(0px, -6px);
    opacity: 1;
}
.header__burger.active span:nth-child(6) {
    transition: all 0.8s ease 0s;
    transform: translate(-5px, 3px);
    opacity: 1;
}
.header__burger-title {
    padding: 0px 0px 0px 14px;
    color: #FFFFFF;
    @include fo_le(15px, 1.2, 700);
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
@media (max-width:576px) {
    .header__burger-title {
        display: none;
    }
}
//========================================================================================== //
.header__link {
    display: inline-block;
    padding: 10px 26px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    @include fo_le(15px, 1.2, 700);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: all 0.5s ease-in 0s;
    &:hover {
        background: rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease-in-out 0s; 
    }
    .header__link-mob {
        display: none;
    }
}
@media (max-width:769px) {
    .header__link {
        padding: 10px;
        background: rgba(255, 255, 255, 0);
        border: none;
        &:hover {
            background: rgba(0, 0, 0, 0);
        }
        span {
            display: none;
        }
        .header__link-mob {
            display: inline-block;
            transition: all 0.5s ease 0s;
        }
    }
}
@media (max-width:426px) {
    .header__link {
        padding: 0px;
    }
}
.header__burger-title.hidden, 
.header__logo.hidden, 
.header__link.hidden {
    display: none;
    transition: all 5.8s ease 0s;
}
// ================================ header-menu ============================================== //
.header__menu-content {
    position: absolute;
    width: 100%;
    left: -100%;
    // left: 0;
    z-index: 10;
    background: linear-gradient(0deg, rgba(54, 58, 69, 0.96), rgba(54, 58, 69, 0.96)), url(image.png);
    transition: all 2s ease 0s;
}
.header-image {
    max-width: 517px;
    position: absolute;
    top: 0px;
    right: 2px;
    img {
        max-width: 100%;
    }
}
// ============================= header-close ================================ //
.header__close-block {
    position: absolute;
    top: 0;
    right: 9%;
    z-index: 70;
    opacity: 0;
    transition: all 0.5s ease 0s;
    transform: scale(1.2) translateY(-50px);
}
.header__close-block.hidden {
    transform: scale(1) translateY(0px);
    opacity: 1;
    transition: all 1s ease 3s;
} 
.header__close {
    display: block;
    position: relative;
    top: 28px;
    right: -92%;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 40px;
    z-index: 15;
    cursor: pointer;
}
.header__close span {
    position: absolute;
    top: 22px;
    left: 13px;
    width: 50%;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
}
.header__close span:nth-child(2) {
    transform: rotate(-45deg);
    width: 50%;
    height: 2px;
    top: 22px;
    left: 13px;
}
// =========================================================================== //
.header__menu-content.active {
    transition: all 2s ease 0s;
    top: 0%;
    left: 0%;
}
.header__menu-container {
    height: 100%;
    width: 100%;
    top: 0;
    left: 10%;
}
.header__body {
    position: relative;
    max-width: 1180px;
    margin: 10% 0px 65px 0px;
    display: flex;
    justify-content: space-between;
}
.header__menu {

    .menu__list {

        .menu__item {

            .menu__link{
                font-family: 'Saol Display';
                @include fo_le(70px, 1, 400);
                color: #FFFFFF;
            }
        }
        .menu__item:not(:last-child) {
            margin: 0px 0px 30px 0px;
        }
    }
}
[class*='contacts__title'],
[class*='contacts__link'] {
    @include fo_le(18px, 1.4, 500);
    color: #FFFFFF;
}
.header__head-contacts {

}
.head-contacts__title {
    margin: 0px 0px 53px 0px;
}
.head-contacts__block {
    margin: 0px 0px 120px 0px;
    .head-contacts__email {
        @include fo_le(20px, 1.4, 400);
        color: #FFFFFF;
    }
}
.head-contacts__list {

    .head-contacts__item {

        .head-contacts__link {

        }
    }
    .head-contacts__item:not(:last-child) {
        margin: 0px 0px 33px 0px;
    }
}
.head-contacts__paper-block {
    margin: 207px 0px 0px 0px;
    display: flex;
    align-items: center;
    .head-contacts__link-download {
        padding: 0px 0px 0px 18px;
        @include fo_le(15px, 1.2, 700);
        align-items: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}
.header-copyright {
    border-top: 2px solid rgb(255, 255, 255, 0.1);
}
.header-copyright__container {
    padding: 28px 0px;
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    p {
        @include fo_le(15px, 1.4, 500);
        color: #FFFFFF;
        opacity: 0.4;
    }
}
//============================= Page ================================================================ //
.page {
    flex: 1 1 auto;
}
//============================= Main-Block ================================================================ //
.page__main-block {
    position: relative; 
}
.main-block__container {
    transition: all 1s ease 0s;
}
.main-block__container.hidden {
    transition: all 1s ease 0s;
    opacity: 0;
}
.main-block__padding {
    padding: 180px 0px 60px 0px;
}
.main-block__body {
    padding: 0px 0px 110px 0px;
    position: relative;
    z-index: 5;
    display: flex; 
    justify-content: space-between;
}
@media (max-width:1180px) {
    .main-block__body  {
        flex-direction: column;
    }
}
.main-block__section-content1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-block__section-content3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end   ;
}
@media (max-width:1180px) {
    .main-block__section-content2 {
        margin: 30px 0px;
    }
    .main-block__section-content3 {
        flex-direction: row;
    }
}
.section-content1 {
    &__link {
        background: #B5D8D6;
        max-width: 250px;
        height: 250px;
        cursor: pointer;
        border-radius: 50%;
        display: inline-block;
        padding: 112px 50px;
        @include fo_le(21px, 1.3, 700);
        text-align: center;
        text-transform: uppercase;
        color: #3B3633;
    }

    &__text {
        max-width: 250px;
        @include fo_le(18px, 1.4, 500);
        text-align: center;
        color: #FFFFFF;
    }
}
@media (max-width:1220px) {
    .section-content1__text {
        display: none;
    }
}
.section-content2 {
    &__text {
        // max-width: 777px;
        font-family: 'Saol Display';
        @include fo_le(140px, 1, 300);
        text-align: center;
        color: #FFFFFF;
    }
    &__subtext {
        display: none;
    }
}
@media (max-width:769px) {
    .section-content2__text {
        @include fo_le(120px, 1, 300);
        margin-bottom: 24px;
    }
    .section-content2__subtext {
        display: block;
        margin: 0 auto;
        text-align: center;
        max-width: 400px;
    }
}
.section-content3 {

    &__text {
        max-width: 230px;
        @include fo_le(18px, 1.4, 500);
        text-align: center;
        color: #FFFFFF;
        margin: 0px 0px 150px 0px;
    }

    &__link {
        cursor: pointer;
        padding: 73px 32px;
        background: #F0BB82;
        max-width: 200px;
        border-radius: 50%;
        display: inline-block;
        @include fo_le(21px, 1.3, 700);
        text-align: center;
        text-transform: uppercase;
        color: #3B3633;
    }
}
@media (max-width:1220px) {
    .section-content3__text {
        display: none;
    }
}
.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 1);
    img {
        opacity: 0.5;
    }
}

.main-block__arrow-block {
    position: relative;
    z-index: 5;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .main-block__arrow-link {
        display: inline-block;
        padding: 14px;
    }
}